<?xml version="1.0" encoding="UTF-8"?>
<authentication-manager>
	<authentication-provider>
		<password-encoder hash="bcrypt" />
	</authentication-provider>
</authentication-manager>



<beans:bean id="encoder"
	class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	<beans:constructor-arg name="strength" value="11" />

	<bean id="authProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<property name="userDetailsService" ref="customUserService" />
		<property name="passwordEncoder" ref="encoder" />
	</bean>

	<bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />


</beans:bean>